/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/robots\.txt

public/uploads/20190929101328-Rizvi-Asset_5.png

public/uploads/20190929102423-Rizvi-Asset_5.png

public/uploads/20190929102612-Rizvi-Asset_5.png

public/uploads/20190929103035-Rizvi-Asset_5.png

public/uploads/20190929103156-Rizvi-Asset_5.png
