// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
	outline: none !important;
}

html{	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	background-color: white;
}

nav{
	transition: all 0.5s
}

.navbar-nav{
	height: 100vh;
}

.scrollUp{
	transform: translateY(-80px)
}

.btn-black{
	background-color: #000;
    border-color: #000;
}

nav .dropdown-toggle::after {
    display:none;
}

.navbar-collapse {
    position: absolute;
    top: 54px;
    right: -100%;
    width: 100%;
    transition: all 0.4s ease;
    display: block;
   	opacity: 0.8;
}
.navbar-collapse.collapsing {
    height: auto !important;
    right: -100%;
    margin-left: 1px;
    transition: all 0.2s ease;
    opacity: 0.9;
}

.navbar-collapse.show {
    margin-right: 100%;
    transition: all 0.2s ease;
    opacity: 1;
}


.navbar-nav{
	margin-left: 40%;
}

.filter{
	filter: blur(3px);
}


.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

.bg-black{
	background: black !important;
}

.btn-ieo{
  background: -webkit-linear-gradient(right, #E23D96, #5555A4);
  color: white
}

.btn-ieo:hover{
  background: -webkit-linear-gradient(right, #ea8bbf, #8e8ed4);
  color: white;
}

.btn-round{
	border-radius: 20px;
}

.header-text{
	background: -webkit-linear-gradient( right, #E23D96, #5555A4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.bg-ieo{
	background: -webkit-linear-gradient( right, #E23D96, #5555A4);
}


#days {
  font-size: 10px;
  color: #5901FB;
}
#hours {
  font-size: 10px;
  color: #9107DD;
}
#minutes {
  font-size: 10px;
  color: #C30CC3;
}
#seconds {
  font-size: 10px;
  color: #F211AA;
}

#days1 {
  font-size: 10px;
  color: #5901FB;
}
#hours1 {
  font-size: 10px;
  color: #9107DD;
}
#minutes1 {
  font-size: 10px;
  color: #C30CC3;
}
#seconds1 {
  font-size: 10px;
  color: #F211AA;
}

#timer{
	border-radius:40px;
}

.mv-img{
  background: -webkit-linear-gradient( right, #E23D96, #5555A4);
  padding: 8px;
}

.yt{
    position: relative;
    bottom: 30px;
    left: 0px;
    font-size: 13px;
}

#token-info td, #token-info th {
  // border: 1px solid #ddd;
  padding: 20px;
  padding-left:10px;
  padding-right:10px;
}

#token-info tr:nth-child(odd){
    background:-webkit-linear-gradient(right, #e23d966e, #5555a46e);
    border-radius:10px;
}


.token-list {
  list-style: none;
  padding-left: 15px;
}

.text-1{
    color: #754a73;
}
.text-2{
    color: #f0c40f;
}
.text-3{
    color: #8f44ac;
}
.text-4{
    color: #e77d22;
}
.text-5{
    color: #c1392b;
}
.text-6{
     color: #ff2537;
}
.text-7{
    color: #34bad1;
}

// .team-img{
//     width: 40%;
//     background: white;
//     padding: 10px;
// }

.team-img{
    width: 90px;
    height: 90px;
    background: white;
    padding: 10px;
    background-size: cover;
    background-position: center;
    margin: auto;
	position: relative;
}
.linkedin {
	position: absolute;
    right: -25px;
    bottom: -15px;		
}


.map-list{
    list-style: none;
}

.timeline {

  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.li {

  transition: all 200ms ease-in;
}

.timestamp {

  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;  

}
  .one-map {
      &:before {

        content: '';
        width: 25px;
        height: 25px;
        background: -webkit-linear-gradient( right, #E23D96, #5555A4);
        border-radius: 25px;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in; 

      }
  }
.li.complete
  .status {
    border-top: 2px solid #969696;
   &:before {
      background-color: #66DC71;
      border: none;
      transition: all 200ms ease-in; 

  }
}



.timeline{
    font-size: 13px;
}

.grecaptcha-badge{
    visibility: collapse !important;  
}





.roadmap {

	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
    font-size: 13px;
    padding: 0;

	.slick-slide {
		outline: none;	

		ul.map-list {
			li > ul {
				list-style-type: disc;
			}
		}
	}
	
	.roadmap-group {
		display: flex;
		.roadmap-item {

		}
	}

	.li.complete {
		display: flex;
		justify-content: center;
	}

	.one-map:before {
	    left: 46%;
	}	
}



.vision-mission {
	.video {
		width: 90%;
    border-radius:35px;
	}
}


.btn-ieo-left {
    background: -webkit-linear-gradient(right, #9a1e61, #5555A4);
	font-size: 0.9em;
    a { color: white; }

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 0;
    border-left: 1px solid #fff;
}
.btn-ieo-middle {
    background-color: #9a1e61;
    color: white;	
    font-size: 0.9em;
    a { color: white; }

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}
.btn-ieo-right {
    background: -webkit-linear-gradient(left, #9a1e61, #5555A4);
    color: white;	
    font-size: 0.9em;
    a { color: white; }

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 0;
}


.video-btn{
	height: 40px;
	a {
		font-size: 1.5em;
	}
}

.section-1 {
	height: 100vh;
	// min-height: 720px;
	min-height: 680px;
}

.section-1-bg {
	background: url('/images/mobile_bg/ieo/1.png');
	// height: 100vh;
	height: 470px;
	background-size: cover;
	> .container {
		padding-bottom: 200px;
		// padding-bottom: 220px;
	}
}



.countdown-ring-cont {
    margin: auto;	
    // margin-top: -165px;	
    margin-top: -180px;	
    text-align: center;
}
.countdown-ring-1 { 
    height: 330px;
    width: 330px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;	

}
.countdown-ring-2 { 
    height: 315px;
    width: 315px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: auto;	
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.countdown{
	height: 300px;
    width: 300px;
	border-radius: 50%;
	border: white 7px  solid;
    position: relative;
    margin: auto;	

	// background-color: #510091;
	background-image: linear-gradient(to right, #791f50, #5555A4);

	.countdown-bottom-img {
		width: 100%;
	}

	#timer {
		border-radius:40px;

		.timer-item {
			color: #fff;
			background-color: #F511A9;
			padding: 5px 0px 0px 0px;
			width: 45px;
			margin: 2px;
			border: 1px solid #fff;

			span:nth-child(1) {
				font-size: 13px !important;
				font-weight: bold;
				margin-left: 5px;
			}

			// br:nth-child(2) {
			// 	display: none;
			// }

			span:nth-child(3) {
				font-size: 8px;
				font-weight: normal;
			    display: block;
			    width: 100%;
			    background-color: #a90c74;
			    padding: 3px 0;
			}
		}
	}
}



.newsletter-card{
	// box-shadow:  1px 1px 20px #dadada;
	box-shadow: none;
	border: 0px;

	.btn-ieo {
	    background: -webkit-linear-gradient(right, #9a1e61, #5555A4);
	    color: #fff;
	}
}






.eupopup-body {
	text-align: justify;
    margin-top: 10px;
}









#partners {
    background-size: auto;
    background-position: center;	
	.partner {
		margin-top: 30px;
		margin-bottom: 25px;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;		
		img {
		    max-width: 90%;
		    max-height: 100px;			
		}
	}

	.sponsored_fair {
		h2, h5 {
			border-bottom: 1px solid;
		    display: inline-flex;
		    margin-top: 15px;		    
		    margin-bottom: 5px;		    
		}
		.icons {			
			display: flex;
			align-items: center;
			justify-content: space-around;		
			flex-wrap: wrap;
			a {
				display: inline-flex;
			    align-items: center;
			    justify-content: center;				
				width: 100%;
				padding: 0 10px;
				img {
				    // width: 100%;
					width: auto;
					max-width: 100%;			        
			        margin-bottom: 20px;
				}
			}
		}
		.links {
			a {
				color: #fff;
			}
		}
	}	
} 



#sale-dates-price .card-header{
	/*background: linear-gradient(to right, #791f50, #5555A4); */
	/*background: linear-gradient(to right, #e4007b, #0000af); */
	background-color: #a90c74; 
	padding:10px;
}